html {
  width: 100vw;
  height: 100vh;
}
body {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.Container {
  margin: 0;
  border-radius: 50%;
  border: black solid 5px;
  height: 500px;
  width: 500px;
  position: relative;
  top: 20%;
  left: 20%;
}
.TL,
.TR,
.BL,
.BR {
  width: 250px;
  height: 250px;
  border: black solid 5px;
  box-sizing: border-box;
}

.TL {
  position: relative;
  top: 0;
  left: 0;
  border-radius: 250px 0 0 0;
  background: darkgreen;
}
.TR {
  position: relative;
  top: -50%;
  left: 50%;
  border-radius: 0 250px 0 0;
  background: darkred;
}

.BL {
  position: relative;
  top: -50%;
  left: 0;
  border-radius: 0 0 0 250px;
  background: goldenrod;
}
.BR {
  position: relative;
  top: -100%;
  left: 50%;
  border-radius: 0 0 250px 0;
  background: darkblue;
}

.IC {
  position: relative;
  top: -175%;
  left: 25%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 2fr 1fr 1fr 1fr;
  text-align: center;
  width: 250px;
  height: 250px;
  background-color: grey;
  border-radius: 50%;
  border: black solid 10px;
}

.Title {
  text-align: center;
  margin-top: 40px;
  grid-row: 1;
  grid-column: 1;
  font-size: 40px;
}

.Bar {
  grid-row: 2;
  grid-column: 1;
  width: 250px;
  height: 25px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.Start {
  border-radius: 50%;
  height: 36px;
  width: 70px;
  color: white;
  background-color: darkred;
  margin-top: 20px;
  padding: 0;
}
.Power,
.Strict {
  margin-top: 30px;
  height: 14px;
  width: 14px;
}
.Power {
  margin-left: 30px;
}
.Strict {
  margin-right: 30px;
}

.Text1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  grid-row: 3;
  grid-column: 1;
  padding: 0;
}
#p {
  display: inline-block;
  margin: 0;
  margin-left: 10px;
  margin-right: 0px;
}
#s {
  display: inline-block;
  margin-left: 85px;
  margin-right: 10px;
}

.Text2 {
  grid-row: 5;
  grid-column: 1;
  margin: auto;
}
.Turn {
  grid-row: 4;
  grid-column: 1;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  height: 30px;
  background-color: black;
  color: red;
  line-height: 30px;
}

.Title,
.Bar,
.Text1,
.Text2 {
  width: 230px;
}
